/* CSS Resets */
*, *::before, *::after {
    box-sizing: border-box;
}

  * {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    appearance: none;
    border: none;
    background: none;
    font-weight: 500;
}

/* Content styling */
:root {
    --header-bg-color: #f4f3f3;
    --dialog-border-color: #d9d9d9;
    --input-border-color: #4e4e4e;
    --invalid: #ff0000;
}

body {
    display: grid;
    grid-template-rows: 125px 1fr;
}

.header {
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background-color: var(--header-bg-color);
}

.header > div:first-child {
    display: flex;
    align-items: center;
    gap: 12px;
}

h1 {
    font-size: 2.5rem;
}

.header img {
    height: 60px;
}

.header button {
    font-size: 1.3rem;
    background-color: #000;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
}

.main-content {
    grid-row: 2;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.table-container {    
    margin-top: 50px;
    border: 2px solid #000;
    height: 85%;
    overflow: auto;
    width: 60%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: var(--header-bg-color);
}

thead tr, 
tbody tr {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

tbody tr {
    border-bottom: 1px solid var(--dialog-border-color);
}

td, th {
    padding: 0.8rem;
    font-size: 1.1rem;
}

td:nth-child(4) img {
    height: 30px;
}

td:nth-child(5) img {
    height: 25px;
}

dialog {
    margin: auto;
    width: 450px;
    height: 455px;
    padding: 0;
}

form {
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    height: 100%;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

.form-header, 
.form-inputs {
    border-bottom: 1px solid var(--dialog-border-color);
}

.form-inputs {
    padding: 16px 16px;
}

.form-inputs p {
    display: flex;
    flex-direction: column;
    margin-bottom: 9px;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    appearance: none;
}

input,
fieldset {
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
}

label:not(.radio-label), 
legend {
    font-weight: 500;
}

.form-submit {
    align-self: center;
    justify-self: end;
    padding: 0 16px;
}

#submit-btn {
    background-color: #000;
    color: #fff;
    padding: 5px;
}

#submit-btn, 
input:user-invalid {
    border-radius: 5px;
}

input:user-invalid {
    border: 1px solid var(--invalid);
}